/**/*.webp
wp-content/uploads/2012/
wp-content/uploads/2015/
wp-content/uploads/2016/
wp-content/uploads/2017/
wp-content/uploads/2018/
wp-content/uploads/2019/01
wp-content/uploads/2019/02
wp-content/uploads/2019/03
wp-content/uploads/2019/04
wp-content/uploads/2019/05
wp-content/uploads/2019/06
wp-content/uploads/2019/07
